body {
  background: #94b4a471;
}
header {
  margin-bottom: 50px;
  padding: 85px;
  background-image: url("./forest.png");
  background-position: 20% 40%;
  border-radius: 6px;
}
h1 {
  font-size: 60px;
  font-style: bold;
  position: relative;
  top: -25px;
  color: #1f322e;
}
a {
  color: #6d8b74;
}
.container {
  margin-top: 100px;
  color: #4e6d52;
}
